.sanwiselogo{
background: linear-gradient(to right,   #05ce45   0%,  #0011dc,     #dc0a00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


::-webkit-input-placeholder {
    color: #566573 !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #566573 !important;  
 }
 
 :-moz-placeholder {  /* Firefox 19+ */
    color: #566573 !important;  
 }

 ::-moz-placeholder {  /* Firefox 19+ */
    color: #566573 !important;  
 }
 
 :-ms-input-placeholder {  
    color: #566573 !important;  
 }

 #nombre:-moz-placeholder{
    color: #566573 !important;  
 }

 ::placeholder { /* Most modern browsers support this now. */
    color:    #566573 !important; 
 }