<!doctype html>
<html lang="es">
  <head>
    <script src="https://kit.fontawesome.com/9c660f0063.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
     <!-- uikit CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='faviconbox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/javas.js') }}"></script>
      <title></title>
  </head>
  <body>

    <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active uk-light uk-box-shadow-medium" style="background-color:#1734c3;">
      <div class="uk-container uk-container-expand">
          <nav uk-navbar>
              <div class="uk-navbar-left">
                <button type="button" data-uk-toggle="target:" class="uk-navbar-toggle" data-uk-navbar-toggle-icon uk-toggle="target: #reveal" style="padding-left:10px;">
                </button>
                  <a href="#" class="uk-navbar-item uk-logo">
                      Sanwise
                  </a>
              </div>
              <div class="uk-navbar-right uk-light">
                  <ul class="uk-navbar-nav">
                      <li class="uk-active">
                          <a href="#">{{nombres}} &nbsp;<span uk-icon="chevron-down"></span></a>
                          <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                  <li class="uk-nav-header">Acciones</li>
                                  <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
  <div  id="reveal" uk-offcanvas="mode:slide;" style="">
    <div class="uk-offcanvas-bar" style="top:80px; width:280px; position:fixed; background-color:#000; color:#ffffff;">

        

        <ul class="uk-nav uk-nav-default" style="padding-left:0px; padding-right:0px; color:#fffff;">
  
          <li class="uk-nav-header uk-text-center" style="padding-left:0px; padding-right:0px; color:#ffffff;">
            <p class="uk-text-capitalize" style="color:#ffffff; margin:0;">Bienvenido, {{nombres}}</p>
          </li>

          <li class="uk-text-center">
            <span class="uk-text-center" style="width:auto;">{{correo}}</span>
        </li>
        {% if current_user.role == True  %}
        <li class="uk-nav-header uk-text-left uk-text-capitalize" style="color:#ffffff; font-weight:bold;">Administrar Usuarios</li>

        <li><a href="/crearusuario"><i class="fas fa-user-plus"></i> Crear Usuario Admin</a></li>
        <li><a href="/listarusuarios"><i class="fas fa-users-cog"></i> Administrar Usuarios</a></li>
        <hr style="border-color:#d5d8dc;" class="uk-margin-small">

          <li class="uk-nav-header uk-text-left uk-text-capitalize" style="color:#ffffff;">Administrar Clientes</li>

          <li><a href="/crearcliente"><i class="far fa-plus-square"></i> Crear cliente</a></li>
          <li><a href="/listarclientes"><i class="fas fa-cogs"></i> Administrar Clientes</a></li>
          <hr style="border-color:#d5d8dc;" class="uk-margin-small">

          <li class="uk-nav-header uk-text-left uk-text-capitalize" style="color:#ffffff;">Administrar Asesores</li>

          <li><a href="/crearasesor">Crear Asesor</a></li>
          <li><a href="/listarasesor">Administrar Asesor</a></li>

          <li class="uk-nav-header uk-text-left uk-text-capitalize" style="color:#ffffff;">Administrar Servicios</li>

          <li><a href="/crearservicio">Crear Servicio</a></li>
          <li><a href="/lista_de_servicios">Administrar Servicio</a></li>
         
          <li><a href="tables.html">Crear Proyecto</a></li>
          <li><a href="tables.html">Actualizar Proyecto</a></li>
         <hr style="border-color:#d5d8dc;" class="uk-margin-small">
      </ul>

    </div>
</div>

{%endif%}
          
    

  
  


    <div>
        {% block content %} {% endblock %}
    </div>
</header>




  </body>

     <!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</html>