<!doctype html>
<html lang="en" style="">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- uikit CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    
     
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/9c660f0063.js" crossorigin="anonymous"></script>

      <title></title>
  </head>
  {% extends 'base2.html' %}
  <body>
{% block content %}

<div>

  {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}
            {% for category, message in messages %}
            <div class="uk-alert-{{category}} uk-text-center"  uk-alert style="width:auto; margin:0; padding:15px; margin-left:30px; margin-right:30px; border-radius:15px; background:transparent; margin-top:10px;" uk-animation="True; duration:3000">
              <i class="far fa-check-circle"></i> {{ message }}
                <a class="uk-alert-close" uk-close style="margin-left:10px; color:#000;"></a>
               
      
            
                
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
     </div>
           

      <div class="uk-card uk-card-default uk-card-primary uk-card-body" style="width:90%; margin-top:60px; margin-left:auto; margin-right:auto; margin-bottom:30px; border-radius:18px; padding:top:30px; padding-right:15px; padding-left:15px;">
        
            <form action="{{ url_for('crearcliente') }}" method="POST" class="uk-grid-small uk-width-1-1" uk-grid style="padding:0; margin-left:auto; margin-right:auto;">
              {{ form.hidden_tag() }}
            
            <div style="width:100%;">
            <h1 class="uk-card-title uk-margin-remove-bottom uk-text-left" style="font-family:'Monserrat', sans-serif; font-weight:bold; font-size:25px;"><i class="fa-solid fa-heart fa-bounce"></i> Crear Cliente</h1>
            </div>
          
           
            
    
         <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif; padding-right:10px;">
              {{ form.nombres.label(class="uk-form-label") }}
         {{ form.nombres(class="uk-input", style="margin-top:8px; border-radius:18px;") }}
         {% for error in form.nombres.errors%}
         {{error}}
         {%endfor%}
         </div>
    
         <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif; padding-right:10px;">
            {{ form.apellidos.label(class="uk-form-label") }}
       {{ form.apellidos(class="uk-input", style="margin-top:8px; border-radius:18px;") }}
       {% for error in form.apellidos.errors%}
       {{error}}
       {%endfor%}
       </div>
    
         <div class="uk-width-1-1@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif; padding-right:10px;">
              {{ form.correo.label(class="uk-form-label") }}
         {{ form.correo(class="uk-input", style="margin-top:8px; border-radius:18px;") }}
         {% for error in form.correo.errors%}
         {{error}}
         {%endfor%}
         </div>
          
         <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px !important; padding-bottom:0px; font-family:Montserrat, sans-serif; padding-right:10px;">
         {{ form.empresa.label (class="uk-form-label") }}
         {{ form.empresa(class="uk-input", style="margin-top:8px; border-radius:18px;") }}
         {% for error in form.empresa.errors%}
         <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
         {%endfor%}
         
         </div>
    
         <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px !important; padding-bottom:0px; font-family:Montserrat, sans-serif; padding-right:10px;">
            {{ form.celular.label (class="uk-form-label") }}
            {{ form.celular(class="uk-input", style="margin-top:8px; border-radius:18px;") }}
            {% for error in form.celular.errors%}
            <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
            {%endfor%}
            
        </div>

        

        
           <div class="uk-width-1-1@s uk-card uk-card-body uk-text-center" style="margin-top:40px; padding:0; font-family:Monserrat, sans-serif;">
          {{ form.submit(class="uk-button uk-button-default uk-text-center textbutton button_slide slide_right", style="border-radius:18px;") }}
          <a class="uk-button-default uk-button textbutton button_slide slide_right" href="/homecrm" style="border-radius:18px;">Volver al inicio</a>
          </div>
    </div>
    
   
    
       
    
            
            </form>
        </div>
      
   
        
   

{% endblock %}
</body>

   <!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</html>