<!doctype html>
<html lang="en" style="">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- uikit CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="uikit/dist/js/uikit-icons.min.js"></script>

      <title></title>
  </head>
  {% extends 'base2.html' %}
  <body>

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
{% for category, message in messages %}
<div class="uk-alert-{{category}} uk-text-center"  uk-alert style="width:auto; margin:0; padding:15px; margin-left:30px; margin-right:30px; border-radius:15px; background:transparent; margin-top:10px;" uk-animation="True; duration:3000">
  <i class="far fa-check-circle"></i> {{ message }}
    <a class="uk-alert-close" uk-close style="margin-left:10px; color:#000;"></a>
   
</div>
{% endfor %}
{% endif %}
{% endwith %}



<div class="uk-text-center uk-card uk-card-default uk-card-body uk-position-center" style="margin-top:60px; margin-left:auto; margin-right:auto; margin-bottom:30px; border-radius:18px; padding:40px;">
<h2 style="font-family:Montserrat, sans-serif; font-weight:bold; font-size:2.5vw;"><i class="fas fa-exclamation-circle" style="color: #fe0051;"></i> Estás seguro que deseas eliminar este cliente?</h2>

<form action="#" method = 'post'>


<div class="uk-margin uk-text-center">
    <a class="uk-button uk-button-default" href="/listarclientes">Volver</a>
    <div class="uk-inline uk-text-center"></span>
        <input class="uk-text-center uk-button uk-button-danger" type='submit', value='Eliminar'>
    </div>
</div>

</form>
</div>
         
         
      </tbody>
  </table>
 






   

   

{% endblock %}
</body>

   <!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</html>