<!doctype html>
<html lang="en" style="">
  <head>

    <script src="https://kit.fontawesome.com/9c660f0063.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- uikit CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
          
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    

      <title></title>
  </head>
  {% extends 'base2.html' %}
  <body>

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
{% for category, message in messages %}
<div class="uk-alert-{{category}} uk-text-center"  uk-alert style="width:auto; margin:0; padding:15px; margin-left:30px; margin-right:30px; border-radius:15px; background:transparent; margin-top:10px;" uk-animation="True; duration:3000">
  <i class="far fa-check-circle"></i> {{ message }}
    <a class="uk-alert-close" uk-close style="margin-left:10px; color:#000;"></a>
   
</div>
{% endfor %}
{% endif %}
{% endwith %}


</div>

<div class="uk-card uk-card-default uk-card-body" style="width:96%; margin-top:30px; border-radius:18px; padding:40px; margin-left:auto; margin-right:auto;">

<div class="uk-width-1-1" style="margin-top:40px; margin-left:auto; margin-right:auto">
<h1 class="uk-text-center uk-card-title" style="font-family:'Monserrat', sans-serif; font-weight:bold; font-size:30px;">Ver Solicitudes</h1>
</div>

<div class="uk-overflow-auto uk-text-center uk-box-shadow-medium" style="margin-top:30px; margin-left:20px; margin-right:20px; border-radius:18px;">
  <table class="uk-table uk-table-divider uk-table-middle uk-table-hover uk-table-striped uk-table-responsive" style="font-family:Monserrat, sans-serif;">
      <thead style="background-color:#000;">
          <tr>
            <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Número de Solicitud</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Servicio Solicitado</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Asesor Asignado</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Nombres</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Apellidos</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Correo</th>
              <th class="uk-table-shrink uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Empresa</th>
         
              <th class="uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Editar Solicitud</th>
              <th class="uk-width-small uk-text-center uk-text-capitalize" style="font-family:Monserrat, sans-serif; color:#ffffff;">Eliminar Solicitud</th>
              
             
          </tr>
      </thead>
 
  
      <tbody>
          

        {% for cliente in clientes %}
        
          <tr>
            
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.solicitud_cliente}}</td>
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.servicio_campo}}</td>
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.asesore}}</td>
          
         
           
           
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.nombres}}</td>
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.apellidos}}</td>
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.correo}}</td>
            <td class="uk-text-nowrap" style="font-family:Monserrat, sans-serif;">{{cliente.empresa}}</td>
         
            
            <td><a class="" style="text-decoration:none; font-size:15px; font-family:Monserrat, sans-serif;" href=""><i class="fa-solid fa-plus fa-bounce" uk-tooltip="Crear Solicitud"></i></a></td>
              <td><a class="" style="text-decoration:none; font-size:20px;" href=""><i class="fa-solid fa-trash-can fa-bounce" uk-tooltip="Eliminar Solicitud"></i></a></td>
          </tr>
          {% endfor %}

         
         
      </tbody>
  </table>
  
</div>
<div class="uk-text-center" style="margin-top:20px;">
<a class="uk-button-secondary uk-button textbutton button_slide slide_right uk-text-center" href="/homecrm" style="border-radius:18px;"><i class="fas fa-fast-backward" style=""></i> Volver a Home</a>
</div>
</div>







   

   

{% endblock %}
</body>

   <!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</html>